<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.ytakahashi.ChromeBookmarkReader</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>020F33CE-5BD7-4279-BD3E-A76D46DEAFF0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F12250B0-1CBF-4477-A2F1-8BCA55EF9615</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>ytakahashi</string>
	<key>description</key>
	<string>chrome bookmark reader</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Chrome Bookmark Reader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>F12250B0-1CBF-4477-A2F1-8BCA55EF9615</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>,</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>query=$1

/Users/ytakahashi/.anyenv/envs/nodenv/shims/chrome-bookmark --file $filePath --pattern $query | jq '{ "items": . | map({title: .name, subtitle: .url, arg: .url}) }'
</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>5</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>020F33CE-5BD7-4279-BD3E-A76D46DEAFF0</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>020F33CE-5BD7-4279-BD3E-A76D46DEAFF0</key>
		<dict>
			<key>xpos</key>
			<integer>135</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
		<key>F12250B0-1CBF-4477-A2F1-8BCA55EF9615</key>
		<dict>
			<key>xpos</key>
			<integer>390</integer>
			<key>ypos</key>
			<integer>250</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>filePath</key>
		<string></string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>filePath</string>
	</array>
	<key>version</key>
	<string>0.1.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
